@model BoardApplication.Models.Boardlist


@{
    ViewBag.Title = "Create";
}

<h2>글쓰기</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            <div style="text-align:right">
                <input class="btn btn-primary" type="button" value="저장" onclick="saveContents()">
            </div>
        </div>


        <div class="form-group">
            <div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">제목</span>
                    <input type="text" class="form-control" id="title" />
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">작성자</span>
                    <input type="text" class="form-control" id="writer" />
                </div>

                <div class="input-group">
                    <span class="input-group-text">내용</span>
                    <textarea class="form-control" aria-label="내용" rows="5" id="contents"></textarea>
                </div>

            </div>
        </div>
    </div>

    <script>
        function saveContents() {
            event.preventDefault();

            var title = document.querySelector("#title").value;
            var writer = document.querySelector("#writer").value;
            var contents = document.querySelector("#contents").value;

            var param = {
                title: title,
                writer: writer,
                contents: contents
            };

            $.ajax({
                url: '/home/Create',
                type: 'POST',
                dataType: 'json',
                data: param,
                success: function (response) {
                    alert(response.message);
                    window.opener.parent.location.reload();
                    window.close();
                },
                error: function (xhr, status, error) {
                    console.log("error ==> " + error);
                }
            });

        }
    </script>
}



