@using BoardApplication.Models
@model List<BoardApplication.Models.Boardlist>

@{
    ViewBag.Title = "Home Page";
}

<h1 style="text-align:center">
    Q&A
</h1>

<table class="table table-hover">
    <tr>
        <th>
            No
        </th>
        <th>
            제목
        </th>
        <th>
            글쓴이
        </th>
        <th>
            작성일
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.LISTID</td>
            <td>@item.TITLE</td>
            <td>@item.WRITER</td>
            <td>@item.CREATED_DATE</td>
        </tr>
    }
</table>

<div style="text-align:right">
    <a class="btn btn-primary" href="/home" role="button" onclick="createPopup()">글쓰기</a>
</div>


<script>
    function createPopup() {
        window.open('/Home/Create', 'CreatePopup',
            'width=600,height=600,toolbars=no,scrollbars=no');
    };
</script>